<!DOCTYPE html>
<!-- File: tests/sample_web_files/handlebars/Template.handlebars -->

<html>
<head>
  <title>{{pageTitle}}</title>
</head>
<body>
  <header>
    <nav>
      {{#each navigation}}
        <a href="{{url}}">{{label}}</a>
      {{/each}}
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
</body>
</html>
